.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.topBar {
  background-color: #eee;
  display: flex;
  padding: 0.5em;
  gap: 0.4em;
}

.iconButton {
  background-color: transparent;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

.input {
  flex-grow: 1;
}

.frame {
  flex-grow: 1;
  border-width: 0;
}