.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.topBar {
  background-color: #eee;
  display: flex;
  padding: 0.5em;
  gap: 0.4em;
  height: calc((28 / 16 * 1em));
  transition: all 0.5s;
  overflow: hidden;
}

.container.topBarHidden .topBar {
  height: 0;
  padding: 0;
}

.iconButton {
  background-color: transparent;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

.iconButton:hover {
  background-color: #e2e2e2;
}

.iconButton:active {
  color: #a50;
}

.hideButton {
  composes: iconButton;
  transition: transform 0.5s;
}

.container.topBarHidden .hideButton {
  position: fixed;
  transform: rotate(180deg);
  top: 0;
  right: 0;
}

.input {
  flex-grow: 1;
}

.frame {
  flex-grow: 1;
  border-width: 0;
}